@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
